@font-face {
  src: url('Bungee-Regular.ttf');
  font-family: 'Bungee-Regular';
  font-style: normal;
}
@font-face {
  src: url('Barlow-Regular.ttf');
  font-family: 'Barlow-Regular';
  font-style: normal;
}

body {
  font-family: 'Barlow-Regular', sans-serif !important;
  color: #fff;
  background-color: #009DFF;
}
h2 {
  font-family: 'Bungee-Regular';
  letter-spacing: -.075em;
}


#live-score {
  display: flex;
  align-items: center;
  width:100%;
  min-height: 50vh;
  text-align: center;
}

#highscores {
  display: flex;
  align-items: center;
  width:100%;
  min-height: 50vh;
  text-align: center;
}

#last-score {
  justify-content: center;
  margin: 0;
  width:100%;
}

#last-score .score {
  font-size: 1.5em;
}

#score-table {
  justify-content: center;
  margin: 0;
  width: 100%;
}

#score-table table {
  font-size: 1.5em;
  width: 12.5%;
  margin: 0 auto;
}

#score-table table .name {
  text-align: left;
}
#score-table table .score {
  text-align: right;
}
